[Desktop Entry]
Version=0.17.6
Name=NCC Core Testnet
Comment=Connect to the NCC P2P Network Testnet
Exec=ncc-qt -testnet %u
Terminal=false
Type=Application
Icon=ncctestnet128
MimeType=x-scheme-handler/ncc;
Categories=Network;
StartupWMClass=NCC-qt-testnet
Name[en_US]=ncc-qt-testnet
